.container{
background-color: rgb(124, 112, 112);
height:1000px;
width:1300px;


}
.header{
    display: flex;
    padding:20px;
    justify-content:space-between;
    align-items:center;
}

.h1{
    text-decoration-color: blue;
}
.h2{
    background-color:rgb(134, 123, 123);
}

.s1{
position:relative;
    left:160px;
}

.b1{
position:relative;
    right:150px;
    width:40px;
}

.side-bar{
    display:flex;;
    flex-direction:column;
    gap:80px;
    
    
    
    
    

    background-color: rgb(174, 168, 168);
    height:700px;
    width:250px;
    
}
.side-bar2{
    background-color: rgb(238, 225, 225);
}
.side-bar3{
    font-size: 20px;
    text-align:center;
    padding:20px;

    
    
    
}
.side-bar1{
    margin-top:10px;
    font-size:30px;
   
    
}

.columns{
    position:relative;
    bottom:700px;
    margin-left:290px;
    margin-bottom:0px;
    width:270px;
    
    
        
    

    

    
    gap:10px;
    font-size:30px;
}
 .next-column{

    position:relative;
    bottom:1620px;
    left:650px;
    font-size:30px;
    
}

   .next-column1{
position:relative;
    bottom:2600px;
    left:1000px;
    font-size:25px;


}
    